##necesito el nombre de la clase, la propiedad y el tipo de dato de la propiedad

#macro(methods $class $parent $prop_list $type)
public interface ${class} implements ${parent}{
void set${prop} ( ${type} ${prop} );
}
#end


