#macro(vars)
  var-name $outputBaseDir - var-value $outputBaseDir.getDefaultValue()
  var-name $targetOS    -   var-value $targetOS.getDefaultValue()
  var-name $templateCount - var-value $templateCount.getDefaultValue()
  var-name $ontologyCount - var-value $ontologyCount.getDefaultValue()
 
#end