#macro(ontology $ontology)
    ONTOLOGY IRI $ontology.getOntologyID().getOntologyIRI()) 
#end
#macro(vars $varsArray)
#foreach( $v in $varsArray )
     SYSTEM VARIBLES: nombre->$v.getName() default->$v.getDefaultValue()->required $v.getRequired()
#end
#end
