#parse ("./includes/variablesMacro.vm")
#set($varName = $class.getIRI().getShortForm())
second template to class to showing the user can process more of one template for the same ontology component
ontology IRI: $ontology.getOntologyID().getOntologyIRI()
class simple name: $varName
classs complete name: $class
class anotation count: $class.getAnnotationPropertiesInSignature().size()
XML variables 
    #vars()
reasoner object name
    $reasoner.getReasoner()    
project output from user interface->  $output
package imports
$plugin
$StaticExample
$codegenerator
