#parse ("./includes/ontologyMacro.vm")
#parse ("./includes/variablesMacro.vm")

ontology ID: $ontology.getOntologyID()
ontology class count: $ontology.getClassesInSignature().size()
variables given in XML
#vars()
reasoner name $reasoner.getReasoner()
project output from user interface->  $output
 d.$ontoldogy.getClassesInSignature().size()