#parse ("./includes/ontologyMacro.vm")
#parse ("./includes/variablesMacro.vm")

ontology name: $ontology.getOntologyID().getOntologyIRI()
using a internal template variable to get name of ontology: $ontologyName
ontology class count: $ontology.getClassesInSignature().size()
variables given in XML using velocity macro to iterate over collection of variables
reasoner $reasoner.getReasoner().getRootOntology()
#vars ($variables)

