#parse ("./includes/ontologyMacro.vm")
#parse ("./includes/variablesMacro.vm")
all ontologies
#ontology($allOntologies)
variables using imported velocity template
#vars ()
-----------------------
separated variables

$templateCount.getName() | $templateCount.getDescription() | $templateCount.isRequired()
$ontologyCount.getName() | $ontologyCount.getDescription() | $ontologyCount.isRequired()
$outputBaseDir.getName() | $outputBaseDir.getDescription() | $outputBaseDir.isRequired()

---------------------

project output from user interface->  $output
