
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<html>
 <head>
  <title>Index of $file.getName()</title>
 </head>
 <body>
<h1>Index of $file.getName()</h1>
  <table>
   <tr><th valign="top"><img src="http://www.apache.org/icons/blank.gif" alt="[ICO]"></th><th>Name</th><th>Last modified</a></th><th>Size (bites)</th></tr>
   <tr><th colspan="4"><hr></th></tr>
#if($BACK)
<tr>
    <td valign="top"><img src="http://www.apache.org/icons/back.gif" alt="[PARENTDIR]"></td>
    <td><a href="../">Parent Directory</a></td><td>&nbsp;</td>
    <td   >&nbsp;</td>
</tr>
#end

#foreach ($f in $dirContent)
#if($f.isFile())
<tr>
    <td valign="top"><img src="http://www.apache.org/icons/unknown.gif" alt="[file]"></td><td><a href="./$f.getName()">${f.getName()}</a></td>
    <td>${dateformatter.format($f.lastModified())}</td><td>${f.length()}</td>
</tr>
#else
<tr>
    <td valign="top"><img src="http://www.apache.org/icons/folder.gif" alt="[DIR]"></td><td><a href="./$f.getName()/">${f.getName()}</a></td>
    <td >${dateformatter.format($f.lastModified())}</td><td>  - </td>
</tr>
#end


#end
<tr><th colspan="4"><hr></th></tr>
</table>
<address>Code Generator Tool</address>
</body></html>

