package $PackageName;
import $PackageName.substring(0,$PackageName.lastIndexOf(".")).*;
import java.net.URI;
import java.util.Collection;
import javax.xml.datatype.XMLGregorianCalendar;
import org.protege.owl.codegeneration.WrappedIndividual;
import org.semanticweb.owlapi.model.OWLNamedIndividual;
import org.semanticweb.owlapi.model.OWLOntology;
/**
*Default Protege Plugin Template 
*Universidad Politecnica de Madrid
*2019
**/
