##necesito el nombre de la clase, la propiedad y el tipo de dato de la propiedad
#set($axioms = ${ontology.getAxioms()})
#set($data_props = $ontology.getAxioms($AxiomType.DATA_PROPERTY_DOMAIN))
#macro(getSuperclass $child_class)
#set($superclasses = ${reasoner.getReasoner().getSuperClasses($child_class,true)})
#set($parent_stack = "")
#foreach($parent in ${superclasses.getNodes()})
#foreach($last_parent in ${parent.getEntities()})
#set($parent_stack = $parent_stack + ${last_parent.getIRI().getFragment()} + ",")
#end
#end
${parent_stack.substring(0,${parent_stack.lastIndexOf(",")})} ##
#end

#macro(generateInterface)
public interface ${class.getIRI().getFragment()} implements #getSuperclass($class) {
#foreach( $f in ${ontology.getAxioms($AxiomType.DECLARATION)} )
#if(${f.getEntity().isOWLObjectProperty()})
#Methods(${f.getEntity().asOWLObjectProperty()})
#end
#end
}
#end

#parse("common.vm")
#parse("interface.methods.vm")
##generate a interface for each class
#generateInterface()
##method list


