<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?>

<plugin>

	<!-- Menu and menu items -->
	
	<extension id="toolmenu1" point="org.protege.editor.core.application.EditorKitMenuAction">
		<name value="GenerateCode Tool"/>
		<path value="org.protege.editor.owl.menu.tools/SlotG-A"/>
		<toolTip value="Plugin to generate code from ontology using the template system"/>
		<class value="es.upm.tfo.lst.codegenerator.plugin.protege.DeployXmlMenu"/>
		
		<editorKitId value="any"/>
	</extension>

    
</plugin>
