{
@context:{				
	
	#foreach($class in $ontology.getClassesInSignature())
	$class
		"${class.getIRI().getFragment()}":"${class.getIRI()}",
		#foreach($domain in $ontology.getAxioms($AxiomType.DATA_PROPERTY_RANGE))
				#foreach( $t in $value.toString().replace("DataPropertyRange", "").replace("(", "").replace(")", "").split(" ") )
					$t
				#end
		#end
	#end
			
	}
}

	