#macro(ontology $ontologyArray)
#foreach( $ont in $ontologyArray )
    $ont.getOntologyID().getOntologyIRI().get().getShortForm()
#e
#macro(vars $varsArray)
#foreach( $v in $varsArray )
     nombre $v.getName() default $v.getDefaultValue() required $v.getRequi
ontologias
	#ontology($ontology)
variables
	#vars ($variables)
		
